<!DOCTYPE html>
<html lang="pl">

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Skrabble- rozgrywka</title>

</head>

<body>

    <!--tło-->
    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>

    <!--nagłówek-->
    <div class="container-fluid text-center">
        <img src="../static/logo.png">
    </div>

    <div style="position: absolute; width:100%; height: 100%; margin: 0%;">
        
        <!--Tabela z wynikami-->
        <div style="position: absolute; width: 40%; left: 1%; top: 4%; " id="divTabela">
            <div class="card" style="position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 18px;
            background-color: dodgerblue;
            border-radius: 25px;">
                <div class="card-body">
                    <h4 class="card-title">Tabela z wynikami- to do</h4>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <!--div z reka-->
        <div style="position: absolute; width: 40%; left: 1%; top:56%" id="divLitery">
            <div class="card" style="position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 18px;
            background-color: dodgerblue;
            border-radius: 25px;">
                <div class="card-header">
                    <div class=" ms-3 btn btn-dark" style="display: inline-block;" id="cofnijRuchBtn"
                        onclick="return cofnijRuch();">Cofnij ruch
                    </div>
                    <div class=" ms-3 btn btn-info" style="display: inline-block;" id="wymienLitereBtn"
                        onclick="return wymienLitere();">Wymień literę
                    </div>
                    <div class=" ms-3 btn btn-success" style="display: inline-block;" id="potwierdzRuchBtn">Potwierdź
                        ruch</div>
                    <!--TODO po potwierdzenieu ruchu wyzeruj historie ruchow!-->
                    <div class=" ms-3 btn btn-danger" style="display: inline-block;" id="pominTureBtn">Pomiń turę</div>
                </div>
                <div class="card-body">
                    <div class="container" id="rekaDiv">
                    </div>
                </div>
                <div class="card-footer"></div>

            </div>
        </div>

        <!--plansza-->
        <div class="card text-center"
            style="position: absolute; width: 54%; left: 45%; top: 4%; height: 82%; background-color: dodgerblue; border-radius: 25px;"
            id="plansza">
            <div class="card-body">
                <div class="container" id="planszaDiv">
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../scripts/game.js"></script>
</body>


</html>