<!DOCTYPE html>
<html lang="pl">

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Skrabble- rozgrywka</title>

</head>

<body>

    <!--tło-->
    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
    </div>

    <!--nagłówek-->
    <div class="container-fluid text-center">
        <img src="../static/logo.png">
    </div>

    <div style="position: absolute; width:100%; height: 100%; margin: 0%;">
        <!--Tabela z wynikami-->
        <div style="position: absolute; width: 40%; left: 1%; top: 4%; " id="divTabela">
            <div class="card" style="position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 18px;
            background-color: dodgerblue;
            border-radius: 25px;">
                <div class="card-body">
                    <h4 class="card-title">Tabela z wynikami- to do</h4>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer"></div>
            </div>
        </div>

        <!--div z reka-->
        <div style="position: absolute; width: 40%; left: 1%; top:56%" id="divLitery">
            <div class="card" style="position: absolute;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 18px;
            background-color: dodgerblue;
            border-radius: 25px;">
                <div class="card-header">
                    <h5 style="display: inline-block;">Twoje litery: </h5>
                    <div class=" ms-3 btn btn-info" style="display: inline-block;" id="wymienLitereBtn"
                        onclick="return wymienLitere();">Wymień literę
                    </div>
                    <div class=" ms-3 btn btn-success" style="display: inline-block;" id="potwierdzRuchBtn">Potwierdź
                        ruch</div>
                    <div class=" ms-3 btn btn-danger" style="display: inline-block;" id="pominTureBtn">Pomiń turę</div>
                    <div class=" ms-3" style="display: inline-block;">
                        <p id="countdown"></p>
                    </div>

                </div>
                <div class="card-body">
                    <div class="container" id="rekaDiv">

                        <script type="text/javascript">
                            var czyMogeKopiowac = false;
                            var czyWymiana = false;
                            var literaDoKopiowania = "";
                            let planszaReka = document.getElementById("rekaDiv");
                            for (let i = 0; i < 2; i++) {
                                let wierszReka = document.createElement("div");
                                wierszReka.setAttribute('class', "row align-items-start mb-2 g-2");
                                wierszReka.setAttribute('id', ('wierszReka' + i.toString()));
                                for (let j = 0; j < 4; j++) {
                                    let literaKontenerReka = document.createElement("div");
                                    literaKontenerReka.setAttribute('class', "col-sm");
                                    let literaBtnReka = document.createElement("div");
                                    literaBtnReka.setAttribute('class', "btn btn-primary mojaLiteraReka");
                                    literaBtnReka.setAttribute('id', ('literaBtnReka' + i.toString() + j.toString()));
                                    let literaReka = document.createElement("h1");
                                    literaReka.setAttribute('id', ('literaReka' + i.toString() + j.toString()));
                                    literaReka.innerHTML = losujLitere();
                                    //TODO- wstawia mi wartość literki zamiast X
                                    literaBtnReka.appendChild(literaReka);
                                    literaBtnReka.setAttribute('onclick', "return kopiujWartosc(this);");
                                    literaKontenerReka.appendChild(literaBtnReka);
                                    wierszReka.append(literaKontenerReka);
                                }
                                planszaReka.append(wierszReka);
                            }
                            function kopiujWartosc(przycisk) {
                                if (!czyWymiana) {
                                    czyMogeKopiowac = true;
                                    literaDoKopiowania = przycisk.childNodes[0].innerHTML;
                                } else {
                                    czyWymiana = false;
                                    przycisk.childNodes[0].innerHTML = losujLitere();
                                }
                            }

                            function losujLitere() {
                                const litery = ["A", "A", "A", "A", "A", "A", "A", "A", "Ą", "B", "C", "C", "C", "C", "Ć", "D", "D", "D", "E", "E", "E", "E", "E", "E", "E",
                                    "E", "Ę", "F", "G", "H", "I", "I", "I", "I", "I", "I", "I", "I", "J", "J", "K", "K", "K", "K", "L", "L", "Ł", "Ł", "M", "M", "M",
                                    "N", "N", "N", "N", "N", "Ń", "O", "O", "O", "O", "O", "O", "O", "O", "Ó", "P", "P", "P", "Q", "R", "R", "R", "R", "R", "S", "S", "S",
                                    "S", "Ś", "T", "T", "T", "T", "U", "U", "U", "W", "W", "W", "W", "W", "Y", "Y", "Y", "Y", "Z", "Z", "Z", "Z", "Z", "Z", "Z", "Ź", "Ż"];
                                return litery[Math.floor(Math.random() * litery.length)];
                            }

                            function wymienLitere() {
                                if (czyWymiana == false) {
                                    czyWymiana = true;
                                }else{
                                    czyWymiana = false;
                                }
                            }

                        </script>


                    </div>
                </div>
                <div class="card-footer"></div>

            </div>
        </div>
        <!--plansza-->
        <div class="card text-center"
            style="position: absolute; width: 54%; left: 45%; top: 4%; height: 82%; background-color: dodgerblue; border-radius: 25px;"
            id="plansza">

            <div class="card-body">
                <div class="container" id="planszaDiv">
                    <script type="text/javascript">
                        let plansza = document.getElementById("planszaDiv");
                        for (let i = 0; i < 11; i++) {
                            let wiersz = document.createElement("div");
                            wiersz.setAttribute('class', "row align-items-start mb-2 g-2");
                            wiersz.setAttribute('id', ('wiersz' + i.toString()));
                            for (let j = 0; j < 11; j++) {
                                let literaKontener = document.createElement("div");
                                literaKontener.setAttribute('class', "col-sm");
                                let literaBtn = document.createElement("div");
                                literaBtn.setAttribute('class', "btn btn-normal mojaLitera");
                                let litera = document.createElement("h1");
                                litera.setAttribute('id', ('litera' + i.toString() + j.toString()));
                                literaBtn.appendChild(litera);
                                literaBtn.setAttribute('onclick', "return skopiujWartosc(this);");
                                literaKontener.appendChild(literaBtn);
                                wiersz.append(literaKontener);
                            }
                            plansza.append(wiersz);
                        }

                        function skopiujWartosc(przycisk1) {
                            if (czyMogeKopiowac == true) {
                                czyMogeKopiowac = false;
                                przycisk1.childNodes[0].innerHTML = literaDoKopiowania;
                                przycisk1.classList.add("active")
                            } else {
                                alert("Najpierw zaznacz litere")
                            }
                        }

                    </script>
                </div>
            </div>
        </div>
    </div>


    <script>
        // Set the date we're counting down to
        var countDownDate = new Date().getTime() + 3 * 60000;

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("countdown").innerHTML =
                minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown").innerHTML = "Czas minął!";
            }
        }, 1000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>


</html>