body{
	margin: 0;
	padding: 0;
	background-color: #0e6cc4;
	overflow-x:hidden;
	overflow-y:hidden;
}

/*waves****************************/


.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
	position: fixed;
	background-color: #77daff;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/*LOADING SPACE*/

.contain {
	animation-delay: 4s;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

.menuBtn{
  margin-top: 3%;
}

.mojaLitera{
  width: 100%; 
  height: 60px;
  text-align: center;
}

.mojaLiteraReka{
  width: 100%; 
  height: 70px;
}

.btn-normal { 
  color: #000000; 
  background-color: #E6E681; 
  border-color: #4A4904; 
} 
 
.btn-normal:hover, 
.btn-normal:focus, 
.btn-normal:active, 
.btn-normal.active, 
.open .dropdown-toggle.btn-normal { 
  color: #000000; 
  background-color: #D6C63A; 
  border-color: #4A4904; 
} 
 
.btn-normal:active, 
.btn-normal.active, 
.open .dropdown-toggle.btn-normal { 
  background-image: none; 
} 
 
.btn-normal.disabled, 
.btn-normal[disabled], 
fieldset[disabled] .btn-normal, 
.btn-normal.disabled:hover, 
.btn-normal[disabled]:hover, 
fieldset[disabled] .btn-normal:hover, 
.btn-normal.disabled:focus, 
.btn-normal[disabled]:focus, 
fieldset[disabled] .btn-normal:focus, 
.btn-normal.disabled:active, 
.btn-normal[disabled]:active, 
fieldset[disabled] .btn-normal:active, 
.btn-normal.disabled.active, 
.btn-normal[disabled].active, 
fieldset[disabled] .btn-normal.active { 
  background-color: #E6E681; 
  border-color: #4A4904; 
} 
 
.btn-normal .badge { 
  color: #E6E681; 
  background-color: #000000; 
}

.btn-start { 
  color: #ffffff; 
  background-color: #7141B0; 
  border-color: #18171C; 
} 
 
.btn-start:hover, 
.btn-start:focus, 
.btn-start:active, 
.btn-start.active, 
.open .dropdown-toggle.btn-start { 
  color: #ffffff; 
  background-color: #694C8F; 
  border-color: #18171C; 
} 
 
.btn-start:active, 
.btn-start.active, 
.open .dropdown-toggle.btn-start { 
  background-image: none; 
} 
 
.btn-start.disabled, 
.btn-start[disabled], 
fieldset[disabled] .btn-start, 
.btn-start.disabled:hover, 
.btn-start[disabled]:hover, 
fieldset[disabled] .btn-start:hover, 
.btn-start.disabled:focus, 
.btn-start[disabled]:focus, 
fieldset[disabled] .btn-start:focus, 
.btn-start.disabled:active, 
.btn-start[disabled]:active, 
fieldset[disabled] .btn-start:active, 
.btn-start.disabled.active, 
.btn-start[disabled].active, 
fieldset[disabled] .btn-start.active { 
  background-color: #7141B0; 
  border-color: #18171C; 
} 
 
.btn-start .badge { 
  color: #7141B0; 
  background-color: #ffffff; 
}

.btn-litera2 { 
  color: #F5F5F5; 
  background-color: #CC6A90; 
  border-color: #18171C; 
} 
 
.btn-litera2:hover, 
.btn-litera2:focus, 
.btn-litera2:active, 
.btn-litera2.active, 
.open .dropdown-toggle.btn-litera2 { 
  color: #F5F5F5; 
  background-color: #BD3781; 
  border-color: #18171C; 
} 
 
.btn-litera2:active, 
.btn-litera2.active, 
.open .dropdown-toggle.btn-litera2 { 
  background-image: none; 
} 
 
.btn-litera2.disabled, 
.btn-litera2[disabled], 
fieldset[disabled] .btn-litera2, 
.btn-litera2.disabled:hover, 
.btn-litera2[disabled]:hover, 
fieldset[disabled] .btn-litera2:hover, 
.btn-litera2.disabled:focus, 
.btn-litera2[disabled]:focus, 
fieldset[disabled] .btn-litera2:focus, 
.btn-litera2.disabled:active, 
.btn-litera2[disabled]:active, 
fieldset[disabled] .btn-litera2:active, 
.btn-litera2.disabled.active, 
.btn-litera2[disabled].active, 
fieldset[disabled] .btn-litera2.active { 
  background-color: #CC6A90; 
  border-color: #18171C; 
} 
 
.btn-litera2 .badge { 
  color: #CC6A90; 
  background-color: #F5F5F5; 
}
.btn-slowo2 { 
  color: #F5F5F5; 
  background-color: #7BC7C2; 
  border-color: #18171C; 
} 
 
.btn-slowo2:hover, 
.btn-slowo2:focus, 
.btn-slowo2:active, 
.btn-slowo2.active, 
.open .dropdown-toggle.btn-slowo2 { 
  color: #F5F5F5; 
  background-color: #559ABD; 
  border-color: #18171C; 
} 
 
.btn-slowo2:active, 
.btn-slowo2.active, 
.open .dropdown-toggle.btn-slowo2 { 
  background-image: none; 
} 
 
.btn-slowo2.disabled, 
.btn-slowo2[disabled], 
fieldset[disabled] .btn-slowo2, 
.btn-slowo2.disabled:hover, 
.btn-slowo2[disabled]:hover, 
fieldset[disabled] .btn-slowo2:hover, 
.btn-slowo2.disabled:focus, 
.btn-slowo2[disabled]:focus, 
fieldset[disabled] .btn-slowo2:focus, 
.btn-slowo2.disabled:active, 
.btn-slowo2[disabled]:active, 
fieldset[disabled] .btn-slowo2:active, 
.btn-slowo2.disabled.active, 
.btn-slowo2[disabled].active, 
fieldset[disabled] .btn-slowo2.active { 
  background-color: #7BC7C2; 
  border-color: #18171C; 
} 
 
.btn-slowo2 .badge { 
  color: #7BC7C2; 
  background-color: #F5F5F5; 
}

.btn-litera3 { 
  color: #F5F5F5; 
  background-color: #366DC7; 
  border-color: #18171C; 
} 
 
.btn-litera3:hover, 
.btn-litera3:focus, 
.btn-litera3:active, 
.btn-litera3.active, 
.open .dropdown-toggle.btn-litera3 { 
  color: #F5F5F5; 
  background-color: #093B99; 
  border-color: #18171C; 
} 
 
.btn-litera3:active, 
.btn-litera3.active, 
.open .dropdown-toggle.btn-litera3 { 
  background-image: none; 
} 
 
.btn-litera3.disabled, 
.btn-litera3[disabled], 
fieldset[disabled] .btn-litera3, 
.btn-litera3.disabled:hover, 
.btn-litera3[disabled]:hover, 
fieldset[disabled] .btn-litera3:hover, 
.btn-litera3.disabled:focus, 
.btn-litera3[disabled]:focus, 
fieldset[disabled] .btn-litera3:focus, 
.btn-litera3.disabled:active, 
.btn-litera3[disabled]:active, 
fieldset[disabled] .btn-litera3:active, 
.btn-litera3.disabled.active, 
.btn-litera3[disabled].active, 
fieldset[disabled] .btn-litera3.active { 
  background-color: #366DC7; 
  border-color: #18171C; 
} 
 
.btn-litera3 .badge { 
  color: #366DC7; 
  background-color: #F5F5F5; 
}